.repo {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  color: #3f4c6b;
}
.title {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: #3f4c6b;
}
.ul {
  font-family: Roboto;
  font-weight: 700;
}
.li {
  padding: 0 0 0 30px;
}
.about {
  font-family: Roboto;
}
.img {
  height: 158px;
  width: 158px;
}
.bio {
  position: relative;
  bottom: 130px;
  left: 200px;
  font-weight: 400;
}
.url {
  position: relative;
  bottom: 110px;
  left: 200px;
  font-weight: 400;
}
.link, .url {
  text-decoration: none;
  color: #4096ee;
}
.link:hover {
  color: #3f4c6b;
  text-decoration: underline;
}
.link:visited {
  color: #4096ee;
}