.repo {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  color: #3f4c6b;
}
.title {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: #3f4c6b;
}
.ul {
  font-family: Roboto;
  font-weight: 700;
  color: #3f4c6b;
}
.li {
  padding: 0 0 0 30px;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  margin-top: 50px;
}
.img {
  height: 150px;
  width: 150px;
}
.link {
  text-decoration: none;
  color: #4096ee;
}
.link:hover {
  color: #3f4c6b;
  text-decoration: underline;
}
.link:visited {
  color: #4096ee;
}