.item {
  color: #333;
  font: 800 18px/20px Roboto; 
  font-style: oblique;
}
.done {
  color: #c4c4c4;
  text-decoration: line-through;
}
.icon {
  left: 80%;
}
.checkboxCheck {
  pointer-events: none;
  opacity: 0.5;
}