.text {
  text-align: left;
  font: 400 15px/18px Roboto;
  text-decoration: underline;
}
.did {
  font-family: Roboto;
  font-size: 15px;
}
.notDid {
  font-family: Roboto;
  font-size: 15px;
}
.footer {
  display: flex;
  justify-content: space-between;
}