.inputWrap {
  text-align: center;
  background: #FFF;
}
.input_style {
  width: 70%;
}
.wrap__errorempty::before {
  content: 'Поле пустое или такая задача уже есть!';
  position: absolute;
  padding: 10px;
  width: 170px;
  font-size: 14px;
  color: #fff;
  background-color: #356eff;
  border-radius: 6px;
  transform: translateY(130%);
}
.wrap__errorrepeat::before {
  content: 'Такая задача уже есть!';
  position: absolute;
  padding: 10px;
  width: 170px;
  font-size: 14px;
  color: #fff;
  background-color: #356eff;
  border-radius: 6px;
  transform: translateY(-130%);
}
